{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "space-before-function-paren": [0, "always"],
    "comma-dangle": ["warn", {
      "arrays": "never",
      "objects": "ignore",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
  }]
  }
}
